.about-container {
    display: flex;
    align-items: center;
}

.about-container img {
    height: 500px;
    width: 400px;
}

.about-container p {
    margin-left: 10px;
}

.ssrp-link{
    color: white;
}

.linkedin-link{
    color: white;
}

.about-me{
    color: white;
}

.email-link{
    color: white;
}

.pdf-style{
    padding: 30px;
    margin-top: 25px;
}

.download-resume{
    color: white;
}