.about-container {
    display: flex;
    align-items: center;
}

.about-container img {
    height: 500px;
    width: 400px;
}

.about-container p {
    margin-left: 10px;
}

.ssrp-link{
    color: black;
}

.linkedin-link{
    color: black;
}

.about-me{
    color: black;
}